<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Erik|  |TV</title>
    <link rel="stylesheet" href="./public/main.css">
</head>
<body>
<div id="doop">
<h1 class="header">Nachrichten von und mit Erik</h1>
<div>
    <a href="article1">
        <img class="imgHeader" alt="IMAGE" src="public/img/HoloBoot.jpg">

    <div class="News">
        <a href="article1">
            <span class="headline">This is a nice headline</span>
        </a>
        <span class="date">10.02.2020</span> <br>
        <span class="author">Written by: someone</span> <br>
        <a href="article1">
            <span class="text"> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet..</span>
        </a>
    </div>
    <br>
    </a>
</div>
<div>
    <img src="https://via.placeholder.com/450x350" id="werbung" alt="werbung">
</div>

<div>
    <img class="imgHeader" alt="IMAGE" src="public/img/HoloBoot.jpg">
    <div class="News">
        <span class="headline">This is a nice headline</span>
        <span class="date">10.02.2020</span> <br>
        <span class="author">Written by: someone</span> <br>
        <span class="text"> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet..</span>
    </div>
    <br>
</div>

<div>
    <img class="imgHeader" alt="IMAGE" src="public/img/HoloBoot.jpg">
    <div class="News">
        <span class="headline">This is a nice headline</span>
        <span class="date">10.02.2020</span> <br>
        <span class="author">Written by: someone</span> <br>
        <span class="text"> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet..</span>
    </div>
    <br>
</div>
</div>
</body>
</html>